.Card {
  padding: 1rem;
}

.Card-image {
  max-height: 15rem;
  max-width: 15rem;
}

.Card-name {
  padding-top: 1rem;
}

.CardGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
}

.Score {
  flex: 1;
  text-align: center;
}

.Score.active-player {
  background-color: green;
}

.ScoreBoard {
  display: flex;
  flex-direction: row;
  padding: 1rem 1rem;
}
