@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

body {
  background-color: #000;;
}

.Card {
  padding: 1rem;
}

.Card.selected img {
  border-color: green;
}

.Card-image {
  border-radius: 50%;
  border: 2px solid #ddd;
  max-height: 15rem;
  max-width: 15rem;
}

.Card-name {
  padding-top: 1rem;
}

.CardGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
}

.Score {
  flex: 1;
  text-align: center;
}

.Score.active-player {
  background-color: #ddd;
}

.ScoreBoard {
  display: flex;
  flex-direction: row;
  font-family: 'Creepster', cursive;
  padding: 1rem 1rem;
}
